#invader {
    background-color: #6259CD;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pixel {
    background-color: #D2DAE2;
    border: solid 2px #7F8D9A;
    width: 20px;
    height: 20px;
    margin: 0;
}

.black-pixel {
    background-color: #485460;
    border: solid 2px #1E272E;
}

.configuration {
    background-color: #3148AD;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.form-grille,
.form-pixel,
.form-button {
    padding: 1rem;
    border: solid 1px #3148AD;
}

.form-grille {
    border-radius: 10px 0 0 10px;
}

.form-button {
    background-color: #9B68E4;
    color: white;
    border-radius: 0 10px 10px 0;
}

